###  Import Data and Required Packages
####  Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [ ]:
import pandas as pd

In [7]:
# Load the dataset
df = pd.read_csv("../data/raw/Hotel_train.csv")

#### Show Top 5 Records

In [10]:
df.head()

,Reservation-id,Gender,Age,Ethnicity,Educational_Level,Income,Country_region,Hotel_Type,Expected_checkin,Expected_checkout,...,Meal_Type,Visted_Previously,Previous_Cancellations,Deposit_type,Booking_channel,Required_Car_Parking,Reservation_Status,Use_Promotion,Discount_Rate,Room_Rate
0,39428300,M,40,Latino,High-School,<25K,North,City Hotel,2015-07-01,2015-07-02,...,BB,No,No,No Deposit,Online,Yes,check-out,Yes,0,106.440241
1,77491756,F,49,African American,High-School,50K -- 100K,East,Airport Hotels,2015-07-01,2015-07-02,...,BB,No,No,Non-Refundable,Online,Yes,check-out,No,0,158.039564
2,73747291,F,42,caucasian,College,<25K,East,Airport Hotels,2015-07-02,2015-07-06,...,BB,No,No,Refundable,Online,Yes,check-out,No,0,212.610780
3,67301739,M,25,Latino,High-School,>100K,South,City Hotel,2015-07-02,2015-07-03,...,BB,No,No,No Deposit,Agent,Yes,check-out,Yes,5,106.146407
4,77222321,F,62,African American,Grad,25K --50K,East,Airport Hotels,2015-07-03,2015-07-04,...,BB,No,No,Refundable,Direct,No,check-out,Yes,10,159.384439

#### Shape of the dataset

In [15]:
df.shape

(27499, 24)

###  Check Missing values

In [20]:
df.isna().sum()

Reservation-id               0
Gender                       0
Age                          0
Ethnicity                    0
Educational_Level            0
Income                       0
Country_region               0
Hotel_Type                   0
Expected_checkin             0
Expected_checkout            0
Booking_date                 0
Adults                       0
Children                     0
Babies                    4755
Meal_Type                    0
Visted_Previously            0
Previous_Cancellations       0
Deposit_type                 0
Booking_channel              0
Required_Car_Parking         0
Reservation_Status           0
Use_Promotion                0
Discount_Rate                0
Room_Rate                    0
dtype: int64

#### hadle missing valus

In [26]:
df['Babies'] = df['Babies'].fillna(0)  # Assume no babies if missing
df.isna().sum()

Reservation-id            0
Gender                    0
Age                       0
Ethnicity                 0
Educational_Level         0
Income                    0
Country_region            0
Hotel_Type                0
Expected_checkin          0
Expected_checkout         0
Booking_date              0
Adults                    0
Children                  0
Babies                    0
Meal_Type                 0
Visted_Previously         0
Previous_Cancellations    0
Deposit_type              0
Booking_channel           0
Required_Car_Parking      0
Reservation_Status        0
Use_Promotion             0
Discount_Rate             0
Room_Rate                 0
dtype: int64

###  Check Duplicates

In [29]:
df.duplicated().sum()

np.int64(0)

#### There are no duplicates  values in the data set

###  Check data types

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27499 entries, 0 to 27498
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Reservation-id          27499 non-null  int64
 1   Gender                  27499 non-null  object
 2   Age                     27499 non-null  int64
 3   Ethnicity               27499 non-null  object
 4   Educational_Level       27499 non-null  object
 5   Income                  27499 non-null  object
 6   Country_region          27499 non-null  object
 7   Hotel_Type              27499 non-null  object
 8   Expected_checkin        27499 non-null  object
 9   Expected_checkout       27499 non-null  object
 10  Booking_date            27499 non-null  object
 11  Adults                  27499 non-null  int64
 12  Children                27499 non-null  int64
 13  Babies                  27499 non-null  float64
 14  Meal_Type               27499 non-null  object
 15  Visted_Previously       27499 non-null  object
 16  Previous_Cancellations  27499 non-null  object
 17  Deposit_type            27499 non-null  object
 18  Booking_channel         27499 non-null  object
 19  Required_Car_Parking    27499 non-null  object
 20  Reservation_Status      27499 non-null  object
 21  Use_Promotion           27499 non-null  object
 22  Discount_Rate           27499 non-null  int64
 23  Room_Rate               27499 non-null  float64
dtypes: float64(2), int64(5), object(17)
memory usage: 5.0+ MB

###  Checking the number of unique values of each column

In [36]:
df.nunique()

Reservation-id            27495
Gender                        2
Age                          53
Ethnicity                     4
Educational_Level             4
Income                        4
Country_region                4
Hotel_Type                    3
Expected_checkin            901
Expected_checkout           929
Booking_date               1133
Adults                        5
Children                      3
Babies                        3
Meal_Type                     3
Visted_Previously             2
Previous_Cancellations        2
Deposit_type                  3
Booking_channel               3
Required_Car_Parking          2
Reservation_Status            3
Use_Promotion                 2
Discount_Rate                 7
Room_Rate                 21087
dtype: int64

###  Check statistics of data set

In [41]:
df.describe()

,Reservation-id,Age,Adults,Children,Babies,Discount_Rate,Room_Rate
count,2.749900e+04,27499.000000,27499.000000,27499.000000,27499.000000,27499.000000,27499.000000
mean,5.016461e+07,43.977454,2.232118,1.743882,0.309466,8.293029,155.645134
std,2.886911e+07,15.303148,1.180172,0.721972,0.579941,7.841725,38.314829
min,3.154000e+03,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000
25%,2.523943e+07,31.000000,1.000000,1.000000,0.000000,0.000000,124.000000
50%,5.014996e+07,44.000000,2.000000,2.000000,0.000000,5.000000,149.453032
75%,7.518288e+07,57.000000,3.000000,2.000000,0.000000,10.000000,181.000000
max,9.999900e+07,70.000000,5.000000,3.000000,2.000000,30.000000,250.000000

# üìä Dataset Insights base on statistics

## **1. General Information**
- The dataset contains **27,499 reservations**.
- The `Reservation-id` ranges from **3,154 to 99,999,000**, suggesting unique identifiers.

## **2. Age Distribution**
- **Average guest age:** **44 years** (¬± 15.3 years).
- **Age range:** **18 to 70 years**.
- **Interquartile Range (IQR):** **31 to 57 years** ‚Üí Most guests are middle-aged.

## **3. Group Composition (Adults, Children, Babies)**
- **Adults per reservation:** 
  - Average: **~2.23** 
  - Max: **5**
- **Children per reservation:**
  - Average: **~1.74**
  - Max: **3**
- **Babies per reservation:**
  - Average: **~0.31**
  - Max: **2**
- **Insight:** At least **75% of bookings have no babies**.

## **4. Discount Rate**
- **Average discount:** **8.29%** (¬± 7.84%).
- **50% of bookings (median) have a discount of 5% or less**.
- **25% of bookings have no discount at all**.
- **Maximum discount:** **30%** (high promotional offers).

## **5. Room Rates**
- **Average room rate:** **$155.65** (¬± $38.31).
- **Price range:** **$100 to $250**.
- **Interquartile Range (IQR):** **$124 to $181**.

## **6. Potential Business Insights**
- **üéØ Age Targeting:** Most guests are between **31 and 57**, so marketing efforts should focus on this age group.
- **üë®‚Äçüë©‚Äçüëß‚Äçüë¶ Group Size Optimization:** Most bookings are for **small families (2 adults, 1-2 children)** ‚Üí Consider family packages.
- **üí∞ Discount Strategy:** Since **many bookings receive no discount**, targeted promotions could increase bookings.
- **üè® Room Pricing:** With a **high standard deviation in room rates**, implementing tiered pricing based on room type may be effective.